<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <div class="row row-in">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <h3 class="box-title">Standard</h3>
                    <ul class="col-in">
                        <li>
                            <span class="bar bar-md bg-info"></span>
                        </li>
                        <li class="col-side">
                            <h4>Adults with type 2 diabetes whose HbA1c level is 58mmol/mol 7.5% or above after 6 months with single-drug treatment are offered dual therapy.</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
