<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicon.png">
    <title>ENACT Prototype for all ON/OFF modifications</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="{{ site.baseurl }}/css/sidebar-nav.min.css" rel="stylesheet">
    <!-- toast CSS 
    <link href="../plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">-->
    <!-- morris CSS -->
    <link href="{{ site.baseurl }}/css/morris.css" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="{{ site.baseurl }}/css/chartist.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/chartist-plugin-tooltip.css" rel="stylesheet">
    <!-- Calendar CSS -->
    <link href="{{ site.baseurl }}/css/fullcalendar.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{{ site.baseurl }}/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="{{ site.baseurl }}/css/megna-dark.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewbox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-menu hidden-xs"></i><i class="ti-close visible-xs"></i></span> <span class="hide-menu">Navigation</span></h3> </div>
                <ul class="nav" id="side-menu">
                      <li> <a href="{{ site.baseurl }}/" class="waves-effect active"><img src="{{ site.baseurl }}/images/logo.png" alt="enact logo" height="24" width="24"> <span class="hide-menu"> ENACT <span class="fa arrow"></span> <span class="label label-rouded label-inverse pull-right">4</span></span></a>
                    </li>
                    <li>
                      <a href="{{ site.baseurl }}/home" class="waves-effect"><i class="mdi mdi-home fa-fw" data-icon="v"></i> <span class="hide-menu">Home<span class="fa arrow"></span> </span></a>
                    </li>
                    <li>
                      <a href="{{ site.baseurl }}/on" class="waves-effect"><i class="mdi mdi-flash fa-fw" data-icon="v"></i> <span class="hide-menu">Modifications On <span class="fa arrow"></span> </span></a>
                    </li>
                    <li>
                      <a href="{{ site.baseurl }}/off" class="waves-effect "><i class="mdi mdi-flash-off fa-fw"></i> <span class="hide-menu">Modifications Off<span class="fa arrow"></span><span class="label label-rouded label-warning pull-right">30</span></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">National Diabetes Audit</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <a href="" target="_blank" class="btn btn-success pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Next</a>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                
                
                {{ content }}
            
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> <!--2017 &copy; Ample Admin brought to you by themedesigner.in --></footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="{{ site.baseurl }}/js/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="{{ site.baseurl }}/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="{{ site.baseurl }}/js/waves.js"></script>
    <!--Morris JavaScript -->
    <script src="{{ site.baseurl }}/js/raphael-min.js"></script>
    <script src="{{ site.baseurl }}/js/morris.js"></script>
    <!-- chartist chart -->
    <script src="{{ site.baseurl }}/js/chartist.min.js"></script>
    <script src="{{ site.baseurl }}/js/chartist-plugin-tooltip.min.js"></script>
    <!-- Calendar JavaScript -->
    <script src="{{ site.baseurl }}/js/moment.js"></script>
    <script src="{{ site.baseurl }}/js/fullcalendar.min.js"></script>
    <script src="{{ site.baseurl }}/js/cal-init.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ site.baseurl }}/js/custom.min.js"></script>
    <script src="{{ site.baseurl }}/js/dashboard1.js"></script>
    <!-- Custom tab JavaScript -->
    <script src="{{ site.baseurl }}/js/cbpFWTabs.js"></script>
    <script src="{{ site.baseurl }}/js/popper.min.js"></script>
    <script type="text/javascript">
    (function() {
        [].slice.call(document.querySelectorAll('.sttabs')).forEach(function(el) {
            new CBPFWTabs(el);
        });
    })();
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
    <!--<script src="{{ site.baseurl }}/js/jquery.toast.js"></script>
    Style Switcher -->
    <script src="{{ site.baseurl }}/js/jQuery.style.switcher.js"></script>
</body>

</html>
